@media only screen and (min-width: 990px) {
  body {
    background-color: #f9f7f5;
    margin: 0; }

  .small-media {
    display: none; }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .offset-lg-4 {
    margin-left: 33.333333%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-8 {
    margin-left: 66.666667%; }

  .hero-section {
    padding: 280px 0 0; }
    .hero-section .col-12 {
      background-color: #8C8C77; }
    .hero-section .text-block {
      width: 70%;
      text-align: center;
      margin: 0 auto;
      color: #fff; }

  p {
    margin-top: 15px; }

  .container .text-block {
    text-align: center; }
  .container .text-block.block-1 {
    padding-bottom: 175px; }
  .container .text-block.block-2 {
    padding-bottom: 150px; }
  .container .text-block.block-3 {
    padding-bottom: 100px; }
  .container .text-block.r-block {
    padding-right: 0px; }
  .container .text-block.block-4 {
    padding-bottom: 100px; }

  .wrapper {
    position: relative; }
    .wrapper .ilustration-holder {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0; }
      .wrapper .ilustration-holder .container {
        max-width: 1140px; }
        .wrapper .ilustration-holder .container .ilustration {
          padding-top: 700px;
          width: 100%; }
          .wrapper .ilustration-holder .container .ilustration svg {
            max-width: 100%;
            margin: 0 auto;
            width: 81%;
            text-align: center;
            overflow: hidden;
            vertical-align: middle; }
    .wrapper .section-1 {
      padding: 20px 0 810px; }
      .wrapper .section-1 .text-block {
        text-align: center; }
        .wrapper .section-1 .text-block h2 {
          width: 30%;
          margin-left: 35%; }
    .wrapper .section-3, .wrapper .section-7 {
      padding: 295px 0 0; }
      .wrapper .section-3 .text-block, .wrapper .section-7 .text-block {
        width: 100%;
        max-width: 615px;
        text-align: center;
        margin: 0 auto; }
        .wrapper .section-3 .text-block h5, .wrapper .section-7 .text-block h5 {
          font-size: 14px;
          font-family: 'Montserrat', sans-serif;
          letter-spacing: 2.8px;
          margin: 0 0 10px; }
        .wrapper .section-3 .text-block h2, .wrapper .section-7 .text-block h2 {
          font-size: 48px;
          font-family: 'Montserrat', sans-serif;
          margin: 0; }
    .wrapper .section-4 {
      padding: 290px 0 0; }
      .wrapper .section-4 .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between; }
        .wrapper .section-4 .container .text-block {
          width: 100%;
          max-width: 290px; }

  .wrapper2 .labo {
    width: 50%;
    margin-left: 25%; }
  .wrapper2 .labo path:nth-child(1) {
    stroke-dasharray: 2700px;
    stroke-dashoffset: 2700px; }
  .wrapper2.active .labo path:nth-child(1) {
    animation: anim 2s ease forwards; }
  .wrapper2 .section-6 .row:nth-child(1) .mosaic path {
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px; }
  .wrapper2 .section-6 .row:nth-child(1) .col-lg-4 {
    display: flex;
    flex-direction: row;
    flex: 100%;
    max-width: 100%; }
    .wrapper2 .section-6 .row:nth-child(1) .col-lg-4 .large-media {
      width: 36%;
      margin-left: 13%; }
    .wrapper2 .section-6 .row:nth-child(1) .col-lg-4 .text-block {
      width: 32%;
      padding-bottom: 100px; }
  .wrapper2 .section-6 .row:nth-child(4) .wifi path {
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px; }
  .wrapper2 .section-6 .row:nth-child(4) .col-lg-4 {
    display: flex;
    flex-direction: row;
    flex: 100%;
    max-width: 100%; }
    .wrapper2 .section-6 .row:nth-child(4) .col-lg-4 .large-media {
      width: 40%;
      margin-left: 13%; }
    .wrapper2 .section-6 .row:nth-child(4) .col-lg-4 .text-block {
      width: 32%;
      padding-bottom: 100px; }
  .wrapper2 .section-6 .row:nth-child(7) .money path {
    stroke-dasharray: 1500px;
    stroke-dashoffset: 1500px; }
  .wrapper2 .section-6 .row:nth-child(7) .col-lg-4 {
    display: flex;
    flex-direction: row-reverse;
    flex: 100%;
    max-width: 100%;
    align-items: center; }
    .wrapper2 .section-6 .row:nth-child(7) .col-lg-4 .large-media {
      width: 240%;
      margin-right: 10%; }
  .wrapper2 .section-6 .row:nth-child(7) .offset-lg-8 {
    margin-left: 35%; }
  .wrapper2 .section-6 .row:nth-child(9) .wikipedia path {
    stroke-dasharray: 3000px;
    stroke-dashoffset: 3000px; }
  .wrapper2 .section-6 .row:nth-child(9) .col-lg-4 {
    display: flex;
    flex-direction: row;
    flex: 100%;
    max-width: 100%; }
    .wrapper2 .section-6 .row:nth-child(9) .col-lg-4 .large-media {
      width: 13%;
      margin-left: 5%;
      margin-top: 2%; }
    .wrapper2 .section-6 .row:nth-child(9) .col-lg-4 .text-block {
      width: 32%;
      padding-bottom: 100px; }
  .wrapper2 .section-6 .row:nth-child(11) .smart path {
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px; }
  .wrapper2 .section-6 .row:nth-child(11) .col-lg-4 {
    display: flex;
    flex-direction: row-reverse;
    flex: 100%;
    max-width: 100%;
    align-items: self-start; }
    .wrapper2 .section-6 .row:nth-child(11) .col-lg-4 .large-media {
      width: 30%;
      margin-right: 10%; }
    .wrapper2 .section-6 .row:nth-child(11) .col-lg-4 .text-block {
      width: 40%; }
  .wrapper2 .section-6 .row:nth-child(11) .offset-lg-8 {
    margin-left: 15%; }
  .wrapper2 .section-6 .row:nth-child(14) .youtube path {
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px; }
  .wrapper2 .section-6 .row:nth-child(14) .youtube polygon {
    stroke-dasharray: 1000px;
    stroke-dashoffset: 1000px; }
  .wrapper2 .section-6 .row:nth-child(14) .col-lg-4 {
    display: flex;
    flex-direction: column-reverse; }
    .wrapper2 .section-6 .row:nth-child(14) .col-lg-4 .large-media {
      width: 30%; }
  .wrapper2 .section-6 .row:nth-child(16) .apple path {
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px; }
  .wrapper2 .section-6 .row:nth-child(16) .col-lg-4 {
    display: flex;
    flex-direction: column-reverse; }
    .wrapper2 .section-6 .row:nth-child(16) .col-lg-4 .large-media {
      width: 30%; }
  .wrapper2 .section-6 .row.active .mosaic path {
    animation: anim 2s ease forwards; }
  .wrapper2 .section-6 .row.active .wifi path {
    animation: anim 2s ease forwards; }
  .wrapper2 .section-6 .row.active .money path {
    animation: anim 2s ease forwards; }
  .wrapper2 .section-6 .row.active .wikipedia path {
    animation: anim 0.8s ease forwards; }
  .wrapper2 .section-6 .row.active .smart path {
    animation: anim 2s ease forwards; }
  .wrapper2 .section-6 .row.active .youtube path {
    animation: anim 2s ease forwards; }
  .wrapper2 .section-6 .row.active .youtube polygon {
    animation: anim 2s ease forwards; }
  .wrapper2 .section-6 .row.active .apple path {
    animation: anim 2s ease forwards; }
  .wrapper2 .section-5 {
    padding: 250px 0 0; }
    .wrapper2 .section-5 .first-website-fr {
      padding-bottom: 10px !important; }
  .wrapper2 .section-7 {
    padding-top: 100px;
    margin-bottom: 20%; }
    .wrapper2 .section-7 h2 {
      text-align: center; }
    .wrapper2 .section-7 .text-block {
      width: 100%;
      max-width: 800px;
      text-align: justify;
      margin: 0 auto; }
    .wrapper2 .section-7 .blockchain, .wrapper2 .section-7 .metavers {
      width: 40%;
      margin-left: 30%; }

  .sources {
    position: relative;
    margin-top: 10%;
    max-width: 80%;
    left: 10%; } }

/*# sourceMappingURL=desktop.css.map */
