@media only screen and (min-width: 990px) {
    body {
        background-color: #f9f7f5;
        margin: 0;
    }
    .small-media {
        display: none;
    }

    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .offset-lg-4 {
        margin-left: 33.333333%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-8 {
        margin-left: 66.666667%;
    }


    .hero-section {
        padding: 280px 0 0;
        .col-12 {
            background-color: #8C8C77;
        }
        .text-block {
            width: 70%;
            text-align: center;
            margin: 0 auto;
            color: #fff;
        }
    }

    p {
        margin-top: 15px;
    }
    .container {
        .text-block {
            text-align: center;
        }
        .text-block.block-1 {
            padding-bottom: 175px;
        }
        .text-block.block-2 {
            padding-bottom: 150px;
        }
        .text-block.block-3 {
            padding-bottom: 100px;
        }
        .text-block.r-block {
            padding-right: 0px;
        }
        .text-block.block-4 {
            padding-bottom: 100px;
        }
    }

    .wrapper {
        position: relative;
        .ilustration-holder {
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            .container {
                max-width: 1140px;

                .ilustration {
                    padding-top: 700px;
                    width: 100%;
                    svg {
                        max-width: 100%;
                        margin: 0 auto;
                        width: 81%;
                        text-align: center;
                        overflow: hidden;
                        vertical-align: middle;
                    }
                }
            }
        }
        .section-1 {
            padding: 20px 0 810px;
            .text-block {
                text-align: center;
                h2 {
                    width: 30%;
                    margin-left: 35%;
                }
            }
        }
        .section-3, .section-7 {
            padding: 295px 0 0;
                .text-block {
                    width: 100%;
                    max-width: 615px;
                    text-align: center;
                    margin: 0 auto;
                    h5 {
                        font-size: 14px;
                        font-family: 'Montserrat', sans-serif;
                        letter-spacing: 2.8px;
                        margin: 0 0 10px;
                    }
                    h2 {
                        font-size: 48px;
                        font-family: 'Montserrat', sans-serif;
                        margin: 0;
                    }
                }
        }
        .section-4 {
            padding: 290px 0 0;
            .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .text-block {
                    width: 100%;
                    max-width: 290px;
                }
            }
        }


    }
    .wrapper2 {
        .labo {
            width: 50%;
            margin-left: 25%;
        }
        .labo path:nth-child(1) {
            stroke-dasharray: 2700px;
            stroke-dashoffset: 2700px;
        }
        &.active {
            .labo path:nth-child(1) {
                animation: anim 2s ease forwards;
            }
        }

        .section-6 {
            .row {
                &:nth-child(1) {
                    .mosaic path {
                        stroke-dasharray: 1500px;
                        stroke-dashoffset: 1500px;
                    }
                    .col-lg-4 {
                        display: flex;
                        flex-direction: row;
                        flex: 100%;
                        max-width: 100%;

                        .large-media {
                            width: 36%;
                            margin-left: 13%;
                        }
                        .text-block {
                            width: 32%;
                            padding-bottom: 100px;
                        }
                    }
                }
                &:nth-child(4) {
                    .wifi path {
                        stroke-dasharray: 1500px;
                        stroke-dashoffset: 1500px;
                    }
                    .col-lg-4 {
                        display: flex;
                        flex-direction: row;
                        flex: 100%;
                        max-width: 100%;

                        .large-media {
                            width: 40%;
                            margin-left: 13%;
                        }
                        .text-block {
                            width: 32%;
                            padding-bottom: 100px;
                        }
                    }
                }
                &:nth-child(7) {
                    .money path {
                        stroke-dasharray: 1500px;
                        stroke-dashoffset: 1500px;
                    }
                    .col-lg-4 {
                        display: flex;
                        flex-direction: row-reverse;
                        flex: 100%;
                        max-width: 100%;
                        align-items: center;

                        .large-media {
                            width: 240%;
                            margin-right: 10%;
                        }
                    }
                    .offset-lg-8 {
                        margin-left: 35%;
                    }
                }
                &:nth-child(9) {
                    .wikipedia path {
                        stroke-dasharray: 3000px;
                        stroke-dashoffset: 3000px;
                    }
                    .col-lg-4 {
                        display: flex;
                        flex-direction: row;
                        flex: 100%;
                        max-width: 100%;

                        .large-media {
                            width: 13%;
                            margin-left: 5%;
                            margin-top: 2%;
                        }
                        .text-block {
                            width: 32%;
                            padding-bottom: 100px;
                        }
                    }
                }

                &:nth-child(11) {
                    .smart path {
                        stroke-dasharray: 2000px;
                        stroke-dashoffset: 2000px;
                    }
                    .col-lg-4 {
                        display: flex;
                        flex-direction: row-reverse;
                        flex: 100%;
                        max-width: 100%;
                        align-items: self-start;

                        .large-media {
                            width: 30%;
                            margin-right: 10%;
                        }
                        .text-block {
                            width: 40%;
                        }
                    }
                    .offset-lg-8 {
                        margin-left: 15%;
                    }
                }
                &:nth-child(14) {
                    .youtube path {
                        stroke-dasharray: 2000px;
                        stroke-dashoffset: 2000px;
                    }
                    .youtube polygon {
                        stroke-dasharray: 1000px;
                        stroke-dashoffset: 1000px;
                    }
                    .col-lg-4 {
                        display: flex;
                        flex-direction: column-reverse;
                        .large-media {
                            width: 30%;
                        }
                    }
                }
                &:nth-child(16) {
                    .apple path {
                        stroke-dasharray: 2000px;
                        stroke-dashoffset: 2000px;
                    }
                    .col-lg-4 {
                        display: flex;
                        flex-direction: column-reverse;
                        .large-media {
                            width: 30%;
                        }
                    }
                }
                &.active {
                    .mosaic path {
                        animation: anim 2s ease forwards;
                    }
                    .wifi path {
                        animation: anim 2s ease forwards;
                    }
                    .money path {
                        animation: anim 2s ease forwards;
                    }
                    .wikipedia path {
                        animation: anim 0.8s ease forwards;
                    }
                    .smart path {
                        animation: anim 2s ease forwards;
                    }
                    .youtube path {
                        animation: anim 2s ease forwards;
                    }
                    .youtube polygon {
                        animation: anim 2s ease forwards;
                    }
                    .apple path {
                        animation: anim 2s ease forwards;
                    }
                }
            }
        }

        .section-5 {
            padding: 250px 0 0;
            .first-website-fr {
                padding-bottom: 10px !important;
            }

        }
        .section-7 {
            padding-top: 100px;
            margin-bottom: 20%;
            h2 {
                text-align: center;
            }
            .text-block {
                width: 100%;
                max-width: 800px;
                text-align: justify;
                margin: 0 auto;
            }

            .blockchain, .metavers {
                width: 40%;
                margin-left: 30%;
            }
        }


    }

    .sources {

        position: relative;
        margin-top: 10%;
        max-width: 80%;
        left: 10%;
    }

}
