@media only screen and (min-width: 990px) {
    body {
        background-color: #f9f7f5;
        margin: 0;
    }
    .small-media {
        display: none;
    }

    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .offset-lg-4 {
        margin-left: 33.333333%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-8 {
        margin-left: 66.666667%;
    }


    .hero-section {
        padding: 280px 0 0;
        .col-12 {
            background-color: #8C8C77;
        }
        .text-block {
            width: 70%;
            text-align: center;
            margin: 0 auto;
            color: #fff;
        }
    }

    p {
        margin-top: 15px;
    }
    .container {
        .text-block {
            text-align: center;
        }
        .text-block.block-1 {
            padding-bottom: 175px;
        }
        .text-block.block-2 {
            padding-bottom: 150px;
        }
        .text-block.block-3 {
            padding-bottom: 100px;
        }
        .text-block.r-block {
            padding-right: 0px;
        }
        .text-block.block-4 {
            padding-bottom: 100px;
        }
    }

    .wrapper {
        position: relative;
        .ilustration-holder {
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            .container {
                max-width: 1140px;

                .ilustration {
                    padding-top: 700px;
                    width: 100%;
                    svg {
                        max-width: 100%;
                        margin: 0 auto;
                        width: 81%;
                        text-align: center;
                        overflow: hidden;
                        vertical-align: middle;
                    }
                }
            }
        }
        .section-1 {
            padding: 20px 0 810px;
            .text-block {
                text-align: center;
                h2 {
                    width: 30%;
                    margin-left: 35%;
                }
            }
        }
        .section-3, .section-7 {
            padding: 295px 0 0;
                .text-block {
                    width: 100%;
                    max-width: 615px;
                    text-align: center;
                    margin: 0 auto;
                    h5 {
                        font-size: 14px;
                        font-family: 'Montserrat', sans-serif;
                        letter-spacing: 2.8px;
                        margin: 0 0 10px;
                    }
                    h2 {
                        font-size: 48px;
                        font-family: 'Montserrat', sans-serif;
                        margin: 0;
                    }
                }
        }
        .section-4 {
            padding: 290px 0 0;
            .container {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .text-block {
                    width: 100%;
                    max-width: 290px;
                }
            }
        }

        .section-5 {
            padding: 250px 0 0;
            .first-website-fr {
                padding-bottom: 10px !important;
            }
        }
        .section-7 {
            margin-bottom: 20%;
            h2 {
                text-align: center;
            }
            .text-block {
                width: 100%;
                max-width: 800px;
                text-align: justify;
                margin: 0 auto;
            }
        }
    }
    .sources {

        position: relative;
        margin-top: 10%;
        max-width: 80%;
        left: 10%;
    }

}
