@media only screen and (max-width: 990px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }

    body {
        margin: 0;
    }

    h2 {
        padding: 5% 4%;
    }



    .large-media {
        display: none;
    }
    .small-media {
        display: block;
    }

    p {
        padding-top: 20%;
    }

    .col-lg-4, .col-12, .col-lg-6, .offset-lg-4, .offset-lg-6, .offset-lg-8  {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }

    .container {
        .text-block.block-1, .text-block.block-2, .text-block.block-3, .text-block.r-block, .text-block.block-4, .text-block.block-5 {
            text-align: center;
            padding: 40px 0 40px;
        }
    }

    .wrapper {
        position: relative;
        .ilustration-holder {
            display: none;
        }
        .hero-section {
            padding: 100px 0 0;
            h1 {
                font-size: 50px;
            }
            .col-12 {
                background-color: #8C8C77;
            }
            .text-block {
                color: #fff;
                width: 100%;
                max-width: 550px;
                text-align: center;
                margin: 0 auto;
            }
        }
        .section-1 {
            padding: 50px 0;
            .text-block {
                padding-bottom: 45px;
                text-align: center;
                h2 {
                    background-color: transparent;
                    color: #404040;
                }

            }
        }

        .section-2 {
            .row {
                .book path:nth-child(1) {
                    stroke-dasharray: 2720px;
                    stroke-dashoffset: 2720px;
                }
                .baby path:nth-child(1) {
                    stroke-dasharray: 2020px;
                    stroke-dashoffset: 2020px;
                }
                .computer path:nth-child(1) {
                    stroke-dasharray: 3500px;
                    stroke-dashoffset: 3500px;
                }
                .robert path:nth-child(1) {
                    stroke-dasharray: 3500px;
                    stroke-dashoffset: 3500px;
                }
                &.active {
                    .book path:nth-child(1) {
                        animation: anim 4s ease forwards;
                    }
                    .baby path:nth-child(1) {
                        animation: anim 4s ease forwards;
                    }
                    .computer path:nth-child(1) {
                        animation: anim 4s ease forwards;
                    }
                    .robert path:nth-child(1) {
                        animation: anim 4s ease forwards;
                    }
                }
            }

        }



        .section-3 {
            padding: 90px 0 0;
            .container {
                text-align: center;
            }
        }
        .section-4 {
            .container {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding-top: 20%;

                .row {
                    padding-top: 10%;
                    .text-block {
                        h2 {
                            background-color: transparent;
                            color: #404040;
                            padding: 0;
                            width: 100%;
                        }
                        p {
                            text-align: center !important;
                            padding-top: 5%;
                        }
                    }
                }


            }
        }

    }
    .wrapper2 {
        padding-bottom: 20%;

        .labo-small path:nth-child(1) {
            stroke-dasharray: 2800px;
            stroke-dashoffset: 2800px;
        }

        &.active {
            .labo-small path:nth-child(1) {
                animation: anim 2s ease forwards;
            }
        }
        .section-7 {
            .text-block {
                h2 {
                    text-align: center;
                }
            }
            .blockchain {
                width: 60%;
                margin-left: 20%;
            }
            .metavers {
                width: 60%;
                margin-left: 20%;
            }
        }
        .section-6 {
            .row {
                &:nth-child(1) {
                    .mosaic-small path {
                        stroke-dasharray: 1500px;
                        stroke-dashoffset: 1500px;
                    }
                }
                &:nth-child(4) {
                    .wifi-small {
                        padding-top: 20%;
                    }
                    .wifi-small path {
                        stroke-dasharray: 1500px;
                        stroke-dashoffset: 1500px;
                    }
                }
                &:nth-child(7) {
                    .money path {
                        stroke-dasharray: 1000px;
                        stroke-dashoffset: 1000px;
                    }
                }
                &:nth-child(8) {
                    .attention path {
                        stroke-dasharray: 3000px;
                        stroke-dashoffset: 3000px;
                    }
                }
                &:nth-child(9) {
                    .wikipedia-small {
                        width: 50%;
                        margin-left: 25%;
                        path {
                            stroke-dasharray: 3000px;
                            stroke-dashoffset: 3000px;
                        }
                    }
                }
                &:nth-child(11) {
                    .smart path {
                        stroke-dasharray: 3000px;
                        stroke-dashoffset: 3000px;
                    }
                }

                &:nth-child(14) {
                    .youtube {
                        width: 70%;
                        margin-left: 15%;
                        padding-top: 30%;
                    }
                    .youtube path {
                        stroke-dasharray: 1000px;
                        stroke-dashoffset: 1000px;
                    }
                    .youtube polygon {
                        stroke-dasharray: 1000px;
                        stroke-dashoffset: 1000px;
                    }
                }

                
                &:nth-child(16) {
                    p {
                        text-align: center !important;
                    }
                    .apple {
                        width: 40%;
                        margin-left: 30%;
                        padding-top: 5%;
                    }
                    .apple path {
                        stroke-dasharray: 1000px;
                        stroke-dashoffset: 1000px;
                    }
                }



                &.active {
                    .mosaic-small path {
                        animation: anim 2s ease forwards;
                    }
                    .wifi-small path {
                        animation: anim 4s ease forwards;
                    }

                    .attention path {
                        animation: anim 6s ease forwards;
                    }

                    .smart path {
                        animation: anim 9s ease forwards;
                    }

                    .youtube path {
                        animation: anim 2s ease forwards;
                    }

                    .youtube polygon {
                        animation: anim 2s ease forwards;
                    }
                    .apple path {
                        animation: anim 2s ease forwards;
                    }
                    .money path {
                        animation: anim 2s ease forwards;
                    }
                    .wikipedia-small path {
                        animation: anim 0.8s ease forwards;
                    }
                }
            }

        }

    }

    .sources {
        position: relative;
        max-width: 80%;
        left: 10%;
    }
}
