body {
	color: #404040;
	font-size: 18px;
	font-family: 'Open Sans',sans-serif;
	background-color: #f9f7f5;
	.main {
		overflow: hidden;
	}
	.text-block {
		p {
			text-align: justify !important;
		}
	}
}

footer {
	margin-top: 10%;
	display: flex;
	justify-content: center;
	padding: 5px;
	background-color: #404040;
	color: #fff;
	p {
		text-align: center;
		padding: 5%;
		margin: 0;
	}
}

@keyframes anim {
	to {
		stroke-dashoffset: 0;
	}
}

audio {
	padding-top: 50px;
}
.section-6 {
	.row {

		&:nth-child(15), &:nth-child(18), &:nth-child(20) {
			p {
				text-align: center !important;
			}
		}
	}
}

svg {
	stroke: #8C8C77;
}